include *.rst
include *.md
include coverage.svg
include LICENSE
include pyautomagic/__init__.py

recursive-include examples *.py
recursive-include examples *.txt
recursive-include pyautomagic *.py

### Exclude

exclude .zenodo
exclude .github
exclude .github/PULL_REQUEST_TEMPLATE.md
exclude Makefile
exclude ./docs/CONTRIBUTING.md
exclude ./docs/INSTALLATION.md
exclude ./docs/TESTING_SETUP.md
exclude .coveragerc
exclude *.yml
exclude .mailmap
exclude test_environment.py
exclude docs

recursive-exclude pyautomagic *.pyc
recursive-exclude docs *
recursive-exclude benchmarks *
recursive-exclude notebooks *
recursive-exclude tests *
recursive-exclude data *